<section>
  <div class="img">
<<<<<<< HEAD
  <img src="<%= user.photo %>" alt="user photo"/>
=======
    <img src="<%= user.photo %> alt="User photo">
>>>>>>> 1d6b952917c9a240e6e6681c62447988cefc9129
  </div>
  <div class="user-post">
    <h2><%= link_to user.name, user %></h2>
    <p>Number of posts <%= user.posts_counter || 0 %></p>
  <div> 
</section>
